{% extends 'base.html.twig' %}


{% block body %}
    <div class="preload hidden">
        <div class="logo"></div>
        <div class="loader-frame">
            <div class="loader1" id="loader1"></div>
            <div class="loader2" id="loader2"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 form-cont">
                <h3>Cambiar Contraseña</h3>
                <form style="margin-top: 20px; border-bottom: 1px solid #393939; padding-bottom: 15px">
                    <label class="control-label " for="passAnt">Contraseña Actual:</label>
                    <input placeholder="Teclee la contraseña actual" type="password" class="form-control" id="passAnt" name="passAnt">

                    <div style="margin-top: 10px"></div>

                    <label class="control-label " for="passNew">Nueva Contraseña:</label>
                    <input placeholder="Teclee la nueva contraseña" type="password" class="form-control" id="passNew" name="passNew">

                    <div style="margin-top: 10px"></div>

                    <label class="control-label " for="passNewConfirm">Confirmar Contraseña:</label>
                    <input placeholder="Confirme la nueva contraseña" type="password" class="form-control" id="passNewConfirm" name="passNewConfirm">
                </form>
                <p class="text-center" style="margin-top: 20px">
                    <button id="btnGuardar" type="button" class="btn btn-primario">Guardar</button>
                    <button id="btnSalir" type="button" class="btn btn-primario"> Salir </button>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function()
        {

            //--------- abandonar el formulario -----------------
            $('#btnSalir').on('click', function ()
            {
                window.location.href = "{{ path('inicio') }}";

            });

            //--------- enviar el formulario -----------------
            $('#btnGuardar').click(function () {


                $("#mensaje").replaceWith('<div id="mensaje"></div>');

                if($("#passAnt").val() == ''){
                    alertify.alert('<strong>Debe teclear la contraseña actual.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label','Aceptar');
                    return false;
                }
                if($("#passNew").val() == ''){
                    alertify.alert('<strong>Debe teclear la nueva contraseña.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label','Aceptar');
                    return false;
                }
                if($("#passNewConfirm").val() == ''){
                    alertify.alert('<strong>Debe confirmar la nueva contraseña.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label','Aceptar');
                    return false;
                }

                var passAnt = $("#passAnt").val();
                var passNew = $("#passNew").val();
                var passNewConfirm = $("#passNewConfirm").val();

                if(passNewConfirm != passNew){
                    alertify.alert('<strong>La contraseña nueva no coincide con la confirmación , inténtelo de nuevo.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label','Aceptar');
                    $("#passNewConfirm").val('');
                    $("#passNew").val('');
                    return false;
                }
                $(".preload").removeClass('hidden');

                var mat_datos = {
                    username: '{{ app.user.username }}',
                    passAnt: passAnt,
                    passNew: passNew
                };
                $.ajax({
                    type: "POST",
                    dataType: "html",
                    url: '{{ path("changePassword") }}',
                    data: mat_datos
                }).done(function (data) {
                    $('input').each(function(){
                        $(this).val('');
                    });
                    $(".preload").addClass('hidden');
                    if(data == 'ok'){

                        alertify.alert('<strong>Su contraseña ha sido cambiada correctamente</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ok-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Confirmacion</h4>')
                            .set('label','Aceptar')
                    }else{
                        alertify.alert('<strong>'+ data +'</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                            .set('label','Aceptar')
                    }
                });
            });
        });
    </script>
{% endblock %}
